<div class="container" style="margin-top:100px">
    <div class="row">
        <div class="col-lg-8">
            <div class="col-lg -12 category-header">
                <h4>Donec tincidunt leo</h4>
              <span>Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend.</span>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <mat-card class="example-card category-post">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="categorypost-img" alt="Photo of a Shiba Inu" routerLink="/article-detail">
                        <ul class="post-info">
                            <li>Admin</li>
                            <li>31 May 2020</li>
                        </ul>
                        <hr/>
                        <mat-card-header>
                            <mat-card-title class="categorypost-title" routerLink="/article-detail">Shiba Inu</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small...
                          </p>
                        <hr/>
                        <div class="row">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <ul class="post-info">
                                    <li><a routerLink="/article-detail">Devamını Oku</a></li> 
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                        </div>
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="col-lg-4">
                    <mat-card class="example-card category-post">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="categorypost-img" alt="Photo of a Shiba Inu" routerLink="/article-detail">
                        <ul class="post-info">
                            <li>Admin</li>
                            <li>31 May 2020</li>
                        </ul>
                        <hr/>
                        <mat-card-header>
                            <mat-card-title class="categorypost-title" routerLink="/article-detail">Shiba Inu</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small...
                          </p>
                        <hr/>
                        <div class="row">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <ul class="post-info">
                                    <li><a routerLink="/article-detail">Devamını Oku</a></li> 
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                        </div>
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="col-lg-4">
                    <mat-card class="example-card category-post">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="categorypost-img" alt="Photo of a Shiba Inu" routerLink="/article-detail">
                        <ul class="post-info">
                            <li>Admin</li>
                            <li>31 May 2020</li>
                        </ul>
                        <hr/>
                        <mat-card-header>
                            <mat-card-title class="categorypost-title" routerLink="/article-detail">Shiba Inu</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small...
                          </p>
                        <hr/>
                        <div class="row">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <ul class="post-info">
                                    <li><a routerLink="/article-detail">Devamını Oku</a></li> 
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                        </div>
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="col-lg-4">
                    <mat-card class="example-card category-post">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="categorypost-img" alt="Photo of a Shiba Inu" routerLink="/article-detail">
                        <ul class="post-info">
                            <li>Admin</li>
                            <li>31 May 2020</li>
                        </ul>
                        <hr/>
                        <mat-card-header>
                            <mat-card-title class="categorypost-title" routerLink="/article-detail">Shiba Inu</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small...
                          </p>
                        <hr/>
                        <div class="row">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <ul class="post-info">
                                    <li><a routerLink="/article-detail">Devamını Oku</a></li> 
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                        </div>
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="col-lg-4">
                    <mat-card class="example-card category-post">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="categorypost-img" alt="Photo of a Shiba Inu" routerLink="/article-detail">
                        <ul class="post-info">
                            <li>Admin</li>
                            <li>31 May 2020</li>
                        </ul>
                        <hr/>
                        <mat-card-header>
                            <mat-card-title class="categorypost-title" routerLink="/article-detail">Shiba Inu</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small...
                          </p>
                        <hr/>
                        <div class="row">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <ul class="post-info">
                                    <li><a routerLink="/article-detail">Devamını Oku</a></li> 
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                        </div>
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="col-lg-4">
                    <mat-card class="example-card category-post">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="categorypost-img" alt="Photo of a Shiba Inu" routerLink="/article-detail">
                        <ul class="post-info">
                            <li>Admin</li>
                            <li>31 May 2020</li>
                        </ul>
                        <hr/>
                        <mat-card-header>
                            <mat-card-title class="categorypost-title" routerLink="/article-detail">Shiba Inu</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small...
                          </p>
                        <hr/>
                        <div class="row">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <ul class="post-info">
                                    <li><a routerLink="/article-detail">Devamını Oku</a></li> 
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                        </div>
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="col-lg-4">
                    <mat-card class="example-card category-post">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="categorypost-img" alt="Photo of a Shiba Inu" routerLink="/article-detail">
                        <ul class="post-info">
                            <li>Admin</li>
                            <li>31 May 2020</li>
                        </ul>
                        <hr/>
                        <mat-card-header>
                            <mat-card-title class="categorypost-title" routerLink="/article-detail">Shiba Inu</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small...
                          </p>
                        <hr/>
                        <div class="row">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <ul class="post-info">
                                    <li><a routerLink="/article-detail">Devamını Oku</a></li> 
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                        </div>
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="col-lg-4">
                    <mat-card class="example-card category-post">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="categorypost-img" alt="Photo of a Shiba Inu" routerLink="/article-detail">
                        <ul class="post-info">
                            <li>Admin</li>
                            <li>31 May 2020</li>
                        </ul>
                        <hr/>
                        <mat-card-header>
                            <mat-card-title class="categorypost-title" routerLink="/article-detail">Shiba Inu</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small...
                          </p>
                        <hr/>
                        <div class="row">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <ul class="post-info">
                                    <li><a routerLink="/article-detail">Devamını Oku</a></li> 
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                        </div>
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="col-lg-4">
                    <mat-card class="example-card category-post">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="categorypost-img" alt="Photo of a Shiba Inu" routerLink="/article-detail">
                        <ul class="post-info">
                            <li>Admin</li>
                            <li>31 May 2020</li>
                        </ul>
                        <hr/>
                        <mat-card-header>
                            <mat-card-title class="categorypost-title" routerLink="/article-detail">Shiba Inu</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small...
                          </p>
                        <hr/>
                        <div class="row">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <ul class="post-info">
                                    <li><a routerLink="/article-detail">Devamını Oku</a></li> 
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                        </div>
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="col-lg-12">
                    <ul class="page-numbers">
                      <li><a routerLink="category">1</a></li>
                      <li class="active"><a routerLink="category">2</a></li>
                      <li><a routerLink="category">3</a></li>
                      <li><a routerLink="category"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</div>