<mat-card class="example-card categories">
    <h3 class="categories-title">kategoriler</h3>
    <hr>
    <div>
        <mat-card-title class="categories-cardtitle">
            <ul>
                <li class="categories-list liHoverBorder"><span>Kategori 1</span></li>
            </ul>
        </mat-card-title>
    </div>
    <div>
        <mat-card-title class="categories-cardtitle">
            <ul>
                <li class="categories-list liHoverBorder"><span>Kategori 2</span></li>
            </ul>
        </mat-card-title>
    </div>
    <div>
        <mat-card-title class="categories-cardtitle">
            <ul>
                <li class="categories-list"><span>Kategori 3</span></li>
            </ul>
        </mat-card-title>
    </div>
    <div>
        <mat-card-title class="categories-cardtitle">
            <ul>
                <li class="categories-list"><span>Kategori 4</span></li>
            </ul>
        </mat-card-title>
    </div>
    <div>
        <mat-card-title class="categories-cardtitle">
            <ul>
                <li class="categories-list"><span>Kategori 5</span></li>
            </ul>
        </mat-card-title>
    </div>
</mat-card>