@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
.popular-post{
    border-radius: 10px; 
    margin-bottom: 10px;
}

.categories-title{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.categories-cardtitle{
    margin-top: 20px; 
    font-size: 16px; 
    font-weight: 800;
}
.categories-list{
    list-style-type: circle;  
}
.category-name:hover{
    border-style: solid;
    border-width: 2px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-color: dodgerblue;
}

.categories-list span:hover {
    
    color : royalblue;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}


/*   
  .liHoverBorder:hover {
    border-color: red;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent; 
    box-shadow: 0px 1px 0 0px blue inset, 0px -1px 0 0px blue inset;
  } */

  ul li {
    padding: 0.5px 0;
 
  }
  
  ul li:hover {
    padding-left: 2px;
    font-weight: 600;
    color: #add8e6;
    font-size:18px;
  }

  .bottom-border{
    border-bottom:solid 2px dodgerblue;
  }