<mat-card class="example-card categories">
    <h3 class="categories-title">kategoriler</h3>
    <hr>
    <div>
        <mat-card-title class="categories-cardtitle">
            <ul>
                <li style="list-style-type: circle;">Kategori 1</li>
            </ul>
        </mat-card-title>
    </div>
    <div>
        <mat-card-title class="categories-cardtitle">
            <ul>
                <li class="categories-list">Kategori 2</li>
            </ul>
        </mat-card-title>
    </div>
    <div>
        <mat-card-title class="categories-cardtitle">
            <ul>
                <li class="categories-list">Kategori 3</li>
            </ul>
        </mat-card-title>
    </div>
    <div>
        <mat-card-title class="categories-cardtitle">
            <ul>
                <li class="categories-list">Kategori 4</li>
            </ul>
        </mat-card-title>
    </div>
    <div>
        <mat-card-title class="categories-cardtitle">
            <ul>
                <li class="categories-list">Kategori 5</li>
            </ul>
        </mat-card-title>
    </div>
</mat-card>