<div class="col-lg-12 outer">
    <h1 class="category-title">HAKKINDA</h1>
    <h2 class = "article-title">Aenean Pulvinar Gravida Sem Nec</h2>


    <p>
        You can browse different tags such as multi-page, resume, video, etc. to see more CSS templates. Sed hendrerit rutrum arcu, non malesuada nisi. Sed id facilisis turpis. Donec justo elit, dapibus vel ultricies in, molestie sit amet risus. In nunc augue, rhoncus sed libero et, tincidunt tempor nisl. Donec egestas, quam eu rutrum ultrices, sapien ante posuere nisl, ac eleifend eros orci vel ante. Pellentesque vitae eleifend velit. Etiam blandit felis sollicitudin vestibulum feugiat.
        <br><br>
        Donec tincidunt leo nec magna gravida varius. Suspendisse felis orci, egestas ac sodales quis, venenatis et neque. Vivamus facilisis dignissim arcu et blandit. Maecenas finibus dui non pulvinar lacinia. Ut lacinia finibus lorem vel porttitor. Suspendisse et metus nec libero ultrices varius eget in risus. Cras id nibh at erat pulvinar malesuada et non ipsum. Suspendisse id ipsum leo.
    </p>



    <div class="row">
        <div class="col-6 sub-col">
            <h2 class="sub-col-title">BAŞLIK</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-6 sub-col">
            <h2 class="sub-col-title">BAŞLIK</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <ul class="article-links">
                <li>
                    <i href="fb.com/kulturdelisi" class="bi bi-facebook">Facebook</i>
                </li>
                |
                <li>
                    <i href="twitter.com/kulturdelisi" src="../../assets/img/twitter.svg">Twitter</i>
                </li>
                |
                <li>
                    <i href="youtube.com/kulturdelisi" class="bi bi-youtube">Youtube</i>
                </li>
            </ul>
            
        </div>
        <div class="col-6">
            <ul class="article-share">
                <li>
                    <i class="fa fa-share-alt"></i>
                </li>
                <li>
                    <a href="#">Facebook</a>
                </li>
                |
                <li>
                    <a href="#">Twitter</a>
                </li>
            </ul>
            
        </div>
    </div>



    <br><br>

</div>