<div class="container">
    <form class="example-form">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <button class="close-button" [mat-dialog-close]="true"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="col-lg-12 addarticle-header">
                    <h2>Yeni Makale Ekle</h2>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Makale Başlığı</mat-label>
                        <input type="text" [(ngModel)]="articleTitle" name="articleTitle" matInput placeholder="Makale Başlığı" required>
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="fill" >
                        <mat-label>Kategori</mat-label>
                        <select matNativeControl  [(ngModel)]="artcileCategoryId" name="artcileCategoryId" required>
                            <option value="1">Eğitim</option>
                            <option value="2">Eğitim 2</option>
                        </select>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Meta Title</mat-label>
                        <input type="text"  matInput placeholder="Makale Başlığı" [(ngModel)]="articleMetaTitle" name="articleMetaTitle" required>
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Meta Description</mat-label>
                        <input type="text" matInput placeholder="Makale Başlığı" [(ngModel)]="articleMetaDescription" name="articleMetaDescription" required>
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    </mat-form-field>
                </div>
                <div class="col-lg-12">
                    <span>Kapak Fotoğrafı Ekle:*</span>
                    <label class="file">
                        <input type="file" class="file-input" id="file" aria-label="File browser example">
                        <span class="file-custom"></span>
                    </label>
                </div>
                <div class="col-lg-12">
                    <!-- Editor Alanı -->
                    <!-- <app-my-ck-editor [(ngModel)]="articleContent" name="articleContent"></app-my-ck-editor> -->
                    <ejs-richtexteditor [toolbarSettings]="customEditorToolbar" [(ngModel)]="articleContent" name="articleContent" [insertImageSettings]="imageSettings">
                        <ng-template >

                        </ng-template>
                    </ejs-richtexteditor>
                </div>
               <div> Text Alanı: {{  textAreaData }} </div> 
                <div class="col-lg-12 savebutton-position">
                    <button (click)="makaleKaydet()"
                        class="btn btn-success save-button">Makeleyi Yayınla<i class="fa-solid fa-paper-plane"
                            style="margin-left: 10px;"></i></button> 
                </div>
            </div>
        </div>