<div class="container">
    <form class="example-form">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <button class="close-button" [mat-dialog-close]="true"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="col-lg-12 addarticle-header">
                    <h2>Yeni Makale Ekle</h2>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label >Makale Başlığı</mat-label>
                        <input type="text" #header matInput placeholder="Makale Başlığı" required>
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Kategori</mat-label>
                        <select matNativeControl #category required>
                            <option value="1">Eğitim</option>
                            <option value="2">Eğitim 2</option>
                        </select>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label >Meta Title</mat-label>
                        <input type="text" #header matInput placeholder="Makale Başlığı" required>
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label >Meta Description</mat-label>
                        <input type="text" #header matInput placeholder="Makale Başlığı" required>
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    </mat-form-field>
                </div>
                <div class="col-lg-12">
                    <label class="file">
                        <input type="file" class="file-input" id="file" aria-label="File browser example">
                        <span class="file-custom"></span>
                    </label>
                </div>
                <div class="col-lg-12">
                    <angular-editor id="editor1" #articleDetail formControlName="htmlContent1" [config]="editorConfig">31</angular-editor>
                </div>
            </div>
            <!-- <div class="col-lg-12 savebutton-position">
                <button (click)="makaleKaydet(category.value,header.value,articleDetail.value)" class="btn btn-success save-button">Makeleyi Yayınla<i class="fa-solid fa-paper-plane" style="margin-left: 10px;"></i></button>
            </div> -->
        </div>
    </form>
</div>