<div class="col-lg-8 outer">
    <div class="row">
        <div class="col-lg-8 ">
            <div class="sidebar-item contact-form" >
                <div class="sidebar-heading">
                    <h2>BİZİMLE İLETİŞİME GEÇİN</h2>
                </div>
                <hr>
                <div class="contact-form">
                    <form action="" id="contact">
                        <div class="row">
                            <mat-form-field appearance="fill" class="col-md-6 col-sm-12" >
                                <fieldset>
                                    <input matInput type="text" id="name" name="name" class="form-control" placeholder="İSİM" required>
                                </fieldset>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input mdbInput type="text" id="email" name="email" class="form-control" placeholder="MAİL" required>
                                </fieldset>
                            </mat-form-field>
                            <mat-form-field appearance="fill"  class="col-md-12 col-sm-12">
                                <fieldset>
                                    <input mdbInput type="text" id="subject" name="subject" class="form-control" placeholder="KONU" required>
                                </fieldset>
                            </mat-form-field>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" id="message" placeholder="Mesajınız" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                  <button type="submit" id="form-submit" class="main-button">Mesajı Gönder</button>
                                </fieldset>
                              </div>                           
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-4" >
            <div class="sidebar-item contact-info">
                <div class="sidebar-heading">
                    <h2>İLETİŞİM BİLGİLERİ</h2>
                </div>
                <hr>
                <div class="content">
                    <ul>
                        <li>
                            <h5>090-484-8080</h5>
                            <span>Telefon Numarası</span>
                          </li>
                          <li>
                            <h5>info@company.com</h5>
                            <span>E-Posta Adresi</span>
                          </li>
                          <li>
                            <h5>123 Aenean id posuere dui, 
                                <br>Praesent laoreet 10660</h5>
                            <span>Adres</span>
                          </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

