<div class="container">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-3">
        <div class="userinfo-card">
          <div>
            <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />
          <h4 class="name">{{fullName}}<a (click)="editUserDialog()" style="color: #9F2B68; margin-left: 8px;"><i class="fa-solid fa-pen-to-square"></i></a>
          </h4>
          <h4 class="designation-name">Yetki<p class="designation">{{permissionName}}</p>
          </h4>
          <h4 class="designation-name" *ngIf="birhtdate != null">Doğum Tarih: <p class="designation">{{birhtdate | date: 'dd/MM/yyyy'}}</p>
          </h4>
          <h4 class="designation-name">E-Posta Adresi <p class="designation">{{email}}</p>
          </h4>
          <h4 class="designation-name" *ngIf="city != null">Şehir <p class="designation">{{city}}</p>
          </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-9 userinfo">
        <div class="row">
          <div class="col-lg-12 about">
            <h4 class="about-header">Hakkıda <a href="" style="color: #9F2B68; float: right; text-decoration: none; margin-right: 10px;"><i
                  class="fa-solid fa-pen-to-square" style="margin-right: 5px;"></i>Düzenle</a></h4>
            <p class="about-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam quasi vitae
              obcaecati suscipit numquam minima? Amet impedit nisi officia culpa dolorum iusto cum veniam explicabo,
              accusamus, neque magni inventore vel.
              Et sint atque excepturi ipsa maiores ipsum iure ad ullam provident repudiandae? Alias, totam. Rem
              excepturi nobis officia amet? Eius sed similique illum dicta, quae consectetur fugiat vero cumque nisi!
              Sed debitis architecto inventore ex praesentium beatae quaerat atque distinctio molestiae pariatur. Illo
              ad, asperiores rem numquam veritatis aspernatur dicta accusamus autem neque fugit error mollitia molestiae
              recusandae culpa accusantium?
              Quisquam facilis ullam minima in, ad culpa. Asperiores quod natus ratione! Eveniet autem repellendus
              recusandae nostrum assumenda nihil temporibus? Voluptate, architecto sed. Numquam odio magni odit enim
              obcaecati, vel voluptas.
              Facere dolorum sapiente, reiciendis, consequuntur dolores, ea laborum eligendi quas quaerat reprehenderit
              velit omnis ad. Cum explicabo accusamus nihil architecto omnis expedita, eaque sit perspiciatis, nemo
              aliquam minima, facere atque.</p>
          </div>
          <div class="col-lg-12 about">
            <h4 class="about-header">Makale Listesi <a mat-raised-button (click)="addArticleDialog()"
                style="color: #9F2B68; float: right; text-decoration: none; margin-right: 10px; cursor: pointer;"><i class="fa-solid fa-plus" style="margin-right: 5px;"></i>Makale
                Ekle</a></h4>
            <div class="col-lg-12">
              <div class="filterform-border">
                <div class="row">
                  <div class="col-lg-3 filterform-element">
                    <mat-form-field class="filterformfield" appearance="fill">
                      <mat-label class="filterform-label">Makale Adı</mat-label>
                      <input matInput placeholder="Örn. Var olmanın dayanılmaz hafifliği..." class="filterform-input" />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3 filterform-element">
                    <mat-form-field class="filterformfield" appearance="fill">
                      <mat-label class="filterform-label">Yazı içeriği</mat-label>
                      <input class="filterform-input" matInput placeholder="Örn. Lorem ipsum..." />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3 filterform-element">
                    <mat-form-field class="filterformfield" appearance="fill">
                      <mat-label class="filterform-label">Tarih</mat-label>
                      <input class="filterform-input" matInput [matDatepicker]="picker" placeholder="Tarihe göre ara"
                        maxlength="0">
                      <mat-datepicker-toggle matSuffix [for]="picker" class="datepicker-toggle">
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3 filterbutton-position">
                    <button mat-raised-button class="btn-primary filter-button"><i
                        class="fa fa-filter filter-button-icon"></i>Filtrele</button>
                  </div>
                  <div class="col-lg-12">
                    <div class="table-container">
                      <!-- Articles Table-->
                      <table class="mat-elevation-z2">
                       <!-- Table Column Header -->
                       <tr>
                         <th class="article-table-header" style="width: 220px;">Makale Başlığı</th>
                         <th class="article-table-header" style="width: 320px;">Makale İçeriği</th>
                         <th class="article-table-header" style="width: 110px;">Yayınlanma Tarihi</th>
                         <th class="article-table-header" style="width: 110px;">Kategori</th>
                         <th class="article-table-header" style="width: 80px;"></th>
                         <th class="article-table-header" style="width: 120px;"></th>
                       </tr>
                       <!-- Table Column Header End -->
                       <!-- Articles Table Columns -->
                       <tr>
                         <!-- Table Article Title Column-->
                         <td class="article-table-content" ><p class="article-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p></td>
                         <!-- Table Article Title Column End-->
       
                         <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->
       
                         <!-- Table Article Detail Column-->
                         <td class="article-table-content"><p class="article-detail">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores hic, cumque blanditiis, adipisci dolore, dolorem nisi laboriosam impedit eum quasi inventore quisquam officiis? Praesentium reiciendis doloribus ipsa architecto quae nihil?</p></td>
                         <!-- Table Article Detail End-->
       
                         <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->
       
                         <!-- Table Article Release Date Column-->
                         <td class="article-table-content">04.12.2022</td>
                         <!-- Table Article Release Date End-->
       
                         <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->
       
                         <!-- Table Category Column-->
                         <td class="article-table-content">Eğitim</td>
                         <!-- Table Category Column End-->
       
                         <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->
       
                         <!-- Table Delete Button Column-->
                         <td class="article-table-content">
                           <button
                             class="d-flex justify-content-center btn btn-primary delete-button" mat-menu-item>
                             <span><i class="fa-solid fa-trash"></i> Sil</span>
                           </button>
                         </td>
                         <!-- Table Delete Button Column End-->
       
                         <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->
       
                         <!-- Table Edit Button Column-->
                         <td class="article-table-content">
                           <button
                             class="d-flex justify-content-center btn btn-primary update-button" mat-menu-item>
                             <span><i class="fa-solid fa-pen-to-square"></i> Güncelle</span>
                           </button>
                         </td>
                         <!-- Table Edit Button Column End-->
       
                         <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->
                       </tr>
                       <!-- Articles Table Columns -->
                     </table>
                     <!-- Articles Table End-->
       
                   </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>