<div class="container" style="margin-top:10px">
    <div class="row">
        <div class="col-lg-12">
            <mat-card class="example-card">
                <div class="row">
                    <div class="col-lg-4">
                        <div mat-card-avatar class="example-header-image author-avatar"></div>
                        <div class="author-social">
                            <ul class="social-icons" >
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <h1>Adı Soyadı</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi quibusdam praesentium ipsum
                            quae consequatur, repellendus in obcaecati distinctio et ducimus esse dignissimos deleniti
                            veniam adipisci voluptatum quos error dicta! Asperiores?
                            Ad, eos, velit autem dolore officia earum modi eum quis consectetur laboriosam cupiditate ex
                            sapiente rem natus. Sed placeat aliquam debitis, quaerat consectetur nesciunt asperiores
                            libero modi rem eum ullam.
                            Nobis, ducimus quia, eum qui quibusdam temporibus ea nostrum, doloribus consequatur quod
                            officiis modi aperiam quasi dolorum alias error sunt ab blanditiis. Unde amet illum, saepe
                            nulla non atque fuga!
                            Accusamus fugiat culpa veniam sunt esse maiores deserunt quis atque repudiandae incidunt
                            quibusdam non quisquam sed odio soluta ab provident velit distinctio, ducimus suscipit
                          </p>
                    </div>
                </div>
                <div class="col-lg-12 header-bg">
                    <h5 class="header-text">Makaleler</h5>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <mat-card class="example-card author-post">
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="authorpost-img" alt="Photo of a Shiba Inu" routerLink="/article-detail">
                            <ul class="post-info">
                                <li>Admin</li>
                                <li>31 May 2020</li>
                            </ul>
                            <hr/>
                            <mat-card-header>
                                <mat-card-title class="authorpost-title" routerLink="/article-detail">Shiba Inu</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                              <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small...
                              </p>
                            <hr/>
                            <div class="go-detail">
                                <ul class="post-info">
                                        <a routerLink="/article-detail">Devamını Oku</a>
                                </ul>
                            </div>
                            </mat-card-content>
                          </mat-card>
                    </div>

                    <div class="col-lg-4">
                      <mat-card class="example-card author-post">
                          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="authorpost-img" alt="Photo of a Shiba Inu" routerLink="/article-detail">
                          <ul class="post-info">
                              <li>Admin</li>
                              <li>31 May 2020</li>
                          </ul>
                          <hr/>
                          <mat-card-header>
                              <mat-card-title class="authorpost-title" routerLink="/article-detail">Shiba Inu</mat-card-title>
                          </mat-card-header>
                          <mat-card-content>
                            <p>
                              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                              bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                              A small...
                            </p>
                          <hr/>
                          <div class="go-detail">
                              <ul class="post-info">
                                      <a routerLink="/article-detail">Devamını Oku</a>
                              </ul>
                          </div>
                          </mat-card-content>
                        </mat-card>
                  </div>
                  <div class="col-lg-4">
                    <mat-card class="example-card author-post">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="authorpost-img" alt="Photo of a Shiba Inu" routerLink="/article-detail">
                        <ul class="post-info">
                            <li>Admin</li>
                            <li>31 May 2020</li>
                        </ul>
                        <hr/>
                        <mat-card-header>
                            <mat-card-title class="authorpost-title" routerLink="/article-detail">Shiba Inu</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small...
                          </p>
                        <hr/>
                        <div class="go-detail">
                            <ul class="post-info">
                                    <a routerLink="/article-detail">Devamını Oku</a>
                            </ul>
                        </div>
                        </mat-card-content>
                      </mat-card>
                </div>
                <div class="col-lg-4">
                  <mat-card class="example-card author-post">
                      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="authorpost-img" alt="Photo of a Shiba Inu" routerLink="/article-detail">
                      <ul class="post-info">
                          <li>Admin</li>
                          <li>31 May 2020</li>
                      </ul>
                      <hr/>
                      <mat-card-header>
                          <mat-card-title class="authorpost-title" routerLink="/article-detail">Shiba Inu</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small...
                        </p>
                      <hr/>
                      <div class="go-detail">
                          <ul class="post-info">
                                  <a routerLink="/article-detail">Devamını Oku</a>
                          </ul>
                      </div>
                      </mat-card-content>
                    </mat-card>
              </div>
              <div class="col-lg-4">
                <mat-card class="example-card author-post">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="authorpost-img" alt="Photo of a Shiba Inu" routerLink="/article-detail">
                    <ul class="post-info">
                        <li>Admin</li>
                        <li>31 May 2020</li>
                    </ul>
                    <hr/>
                    <mat-card-header>
                        <mat-card-title class="authorpost-title" routerLink="/article-detail">Shiba Inu</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small...
                      </p>
                    <hr/>
                    <div class="go-detail">
                        <ul class="post-info">
                                <a routerLink="/article-detail">Devamını Oku</a>
                        </ul>
                    </div>
                    </mat-card-content>
                  </mat-card>
            </div>
            <div class="col-lg-4">
              <mat-card class="example-card author-post">
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="authorpost-img" alt="Photo of a Shiba Inu" routerLink="/article-detail">
                  <ul class="post-info">
                      <li>Admin</li>
                      <li>31 May 2020</li>
                  </ul>
                  <hr/>
                  <mat-card-header>
                      <mat-card-title class="authorpost-title" routerLink="/article-detail">Shiba Inu</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small...
                    </p>
                  <hr/>
                  <div class="go-detail">
                      <ul class="post-info">
                              <a routerLink="/article-detail">Devamını Oku</a>
                      </ul>
                  </div>
                  </mat-card-content>
                </mat-card>
          </div>

                    
                    <div class="col-lg-12">
                        <ul class="page-numbers">
                          <li><a routerLink="category">1</a></li>
                          <li class="active"><a routerLink="category">2</a></li>
                          <li><a routerLink="category">3</a></li>
                          <li><a routerLink="category"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                      </div>
                </div>

            </mat-card>
        </div>
    </div>
</div>