
.example-header-image {
  width: 175px;
  height: 175px;
  background-image: url('https://i.pinimg.com/originals/2a/d9/f3/2ad9f3c73b54c96488136a3856b63fef.jpg');
  background-size: cover;
}

.author-avatar{
	margin-left: auto;
	margin-right: auto;
}

.author-social{
	
	margin-left: auto !important;
	margin-right: auto !important;
	align-items: center !important;
	justify-content: center !important;
}

ul li {
	display: inline-block;
	margin: 0px 5px;

	
}

ul li a {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	background-color: #212931;
	color: #fff;
	border-radius: 50%;
	transition: all .3s;
}

ul li a:hover {
	background-color: #4070f4;
}

.header-bg{
	margin-top: 10px;
	background-color: dodgerblue; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	border-radius: 10px; 
	margin-bottom: 15px;
}
.header-text{
	margin-top: 10px;
	margin-left: 10px;
	color: white; 
	font-size: 24px;
}

.author-post{
	margin-bottom: 10px;
}

.author-img{
	border-radius: 10px;
	cursor: pointer;
}

.authorpost-img:hover{
	opacity: 0.7;
}

.authorpost-title{
	font-size: 24px; 
	margin-left: -15px;
	cursor: pointer;
}
.authorpost-title:hover{
	color: #1E90FF;
}

.post-info{
    margin-left: -35px;
}

.postinfo-detail{
	float: right; 
	margin-bottom: 10px;
}

.go-detail{
	margin-bottom: 30px !important;
}


ul.post-info li {
	display: inline-block;
	margin-right: 8px;
}

ul.post-info li:after {
	content: '|';
	color: #aaa;
	margin-left: 8px;
}


ul.post-info li {
	margin-right: 3px;
}

ul.post-info li:after {
	margin-left: 5px;
}

ul.post-info li:last-child::after {
	display: none;
}

ul.post-info a {
	font-size: 14px;
	color: black;
	font-weight: 400;
	transition: all .3s;
	float: right;
}

ul.post-info a:hover {
	color: #4070f4;
}

ul.page-numbers {
	text-align: center;
	margin-top: 25px;
}

ul.page-numbers li {
	display: inline-block;
	margin: 0px 5px;
}

ul.page-numbers li:hover {
    background-color: #ffffff;
}

ul.page-numbers li a {
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	font-size: 15px;
	color: white;
	border: 1px solid #eee;
	font-weight: 500;
	transition: all 0.3s;
}

ul.page-numbers li.active a {
	background-color: #4070f4;
	border-color: #4070f4;
	color: #fff;
}
ul.page-numbers li.active a:hover {
	background-color: #000000;
	color: #fff;
}