.title-h3{
	margin-left: 2%; 
	font-size: 20px;
	background-color: tomato;
	padding-left: 2%; 
	padding-right: 2%; 
	padding-bottom: 0.5%;
	border-radius: 5px; 
	margin-bottom: 2%; 
	color: white; 
	font-family: 'Times New Roman', Times, serif;
	width: fit-content;
}

.articles-bg{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
	margin-bottom: 10px;
}
.subtitle{
    color: black;
}


.post-info{
    margin-left: -35px;
}

ul.post-info li {
	display: inline-block;
	margin-right: 8px;
}

ul.post-info li:after {
	content: '|';
	color: #aaa;
	margin-left: 8px;
}


ul.post-info li {
	margin-right: 3px;
}

ul.post-info li:after {
	margin-left: 5px;
}

ul.post-info li:last-child::after {
	display: none;
}

ul.post-info li a {
	font-size: 14px;
	color: #aaa;
	font-weight: 400;
	transition: all .3s;
}

ul.post-info li a:hover {
	color: #4070f4;
}

.left-post{
	margin-bottom: 10px;
}

.leftpost-img{
	border-radius: 10px !important;
	cursor: pointer;
	padding: 5px;
	height: 260px;
}

.leftpost-img:hover{
	opacity: 0.7;
}

.leftpost-title{
	font-size: 24px; 
	margin-left: -20px;
	cursor: pointer;
}
.leftpost-title:hover{
	color: #1E90FF;
}

.right-post{
   	margin-bottom: 10px;
}
.rightpost-title{
	cursor: pointer;
}
.rightpost-title:hover{
	color: #1E90FF;
}

.rightpost-img{
	width: 250px; 
	height: 100px; 
	border-radius: 10px;
	cursor: pointer;
}

.rightpost-img:hover{
	opacity: 0.7;
}

.bottom-post{
	margin-top: 8px; 
}
.bottompost-subtitle{
	margin-right:20px;



}
.bottompost-img{
	width: 400px; 
	height: 150px; 
	border-radius: 10px; 
	margin-top: 5px;
	cursor: pointer;
}

.bottompost-img:hover{
	opacity: 0.7;
}

.bottompost-title{
	cursor: pointer;    
}
.bottompost-title:hover{
	color: #1E90FF;
}

.article-content{
	color: black;
	font-size: 16px;
}

.author-link{
	color: black !important;
	margin-left: 5px;
	font-weight: bold !important;

}

.author-link:hover{
	color: dodgerblue !important;
	font-weight: bold !important;
}

.release-date{
	font-weight: 500;
}
.godetail-li{
	float: right;
}
.go-detail{
	font-weight: bold !important;
	color: tomato !important;
}
.go-detail:hover{
	font-weight: bold !important;
	color: dodgerblue !important;
}
