
<div class="col-lg-12 articles-bg">
    <div class="row">
        <h3 class="title-h3">Eğitim</h3>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6">
            <mat-card class="example-card left-post">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="leftpost-img" alt="Photo of a Shiba Inu" routerLink="/article-detail">
                <mat-card-header>
                    <mat-card-title class="leftpost-title" routerLink="/article-detail">Shiba Inu</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <hr/>
                  <p class="article-content" >
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for.A small, agile dog that copes very well with Inu is the smallest of the six original and distinct...
                   
                  </p>
                  <hr/>
                    <div class="col-lg-12">
                      <ul class="post-info">
                        <li><a class="author-link" routerLink="/authorprofile">Admin</a></li>
                        <li class="release-date">31 May 2020</li>
                        <li class="godetail-li"><a class="go-detail" routerLink="/article-detail">Devamını Oku</a></li> 
                    </ul>
                    </div>

                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-lg-6">
            <mat-card class="example-card right-post">
                <mat-card-title-group>
                  <mat-card-title class="rightpost-title">Shiba Inu</mat-card-title>
                  <mat-card-subtitle class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</mat-card-subtitle>
                  <img mat-card-md-image src="https://wallpaperaccess.com/full/1912909.jpg" class="rightpost-img">
                </mat-card-title-group>
              </mat-card>
              <mat-card class="example-card right-post">
                <mat-card-title-group>
                  <mat-card-title class="rightpost-title">Shiba Inu</mat-card-title>
                  <mat-card-subtitle class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</mat-card-subtitle>
                  <img mat-card-md-image src="https://wallpaperaccess.com/full/1912909.jpg" class="rightpost-img">
                </mat-card-title-group>
              </mat-card>
              <mat-card class="example-card right-post">
                <mat-card-title-group>
                  <mat-card-title class="rightpost-title">Shiba Inu</mat-card-title>
                  <mat-card-subtitle class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</mat-card-subtitle>
                  <img mat-card-md-image src="https://wallpaperaccess.com/full/1912909.jpg" class="rightpost-img">
                </mat-card-title-group>
              </mat-card>
              <mat-card class="example-card right-post">
                <mat-card-title-group>
                  <mat-card-title class="rightpost-title">Shiba Inu</mat-card-title>
                  <mat-card-subtitle class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</mat-card-subtitle>
                  <img mat-card-md-image src="https://wallpaperaccess.com/full/1912909.jpg" class="rightpost-img">
                </mat-card-title-group>
              </mat-card>
        </div>
        </div>
        <div class="col-lg-12">
          <mat-card class="example-card bottom-post">
              <mat-card-title-group>
                <mat-card-title class="bottompost-title">Shiba Inu</mat-card-title>
                <mat-card-subtitle class="subtitle bottompost-subtitle" >Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</mat-card-subtitle>
                <img mat-card-md-image src="https://wallpaperaccess.com/full/1912909.jpg" class="bottompost-img">
              </mat-card-title-group>
            </mat-card>
      </div>
      </div>
    
    </div>
</div>