<div class="col-lg-12 articles-bg">
    <div class="row">
        <h3 class="title-h3">Eğitim</h3>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <mat-card class="example-card" style="height:550px;" routerLink="/article-detail">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" style="border-radius: 10px;" alt="Photo of a Shiba Inu">
                <mat-card-header>
                    <mat-card-title style="font-size: 24px; margin-left: -10px;">Shiba Inu</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for.A small, agile dog that copes very well with Inu is the smallest of the six original and distinct...
                    
                  </p>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-lg-6">
            <mat-card class="example-card" style="margin-bottom: 10px; height: 130px;" >
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</mat-card-subtitle>
                  <img mat-card-md-image src="https://wallpaperaccess.com/full/1912909.jpg" style="width: 250px; height: 100px; border-radius: 10px;" >
                </mat-card-title-group>
              </mat-card>
              <mat-card class="example-card" style="margin-bottom: 10px; height: 130px;">
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</mat-card-subtitle>
                  <img mat-card-md-image src="https://wallpaperaccess.com/full/1912909.jpg" style="width: 250px; height: 100px; border-radius: 10px;" >
                </mat-card-title-group>
              </mat-card>
              <mat-card class="example-card" style="margin-bottom: 10px; height: 130px;">
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</mat-card-subtitle>
                  <img mat-card-md-image src="https://wallpaperaccess.com/full/1912909.jpg" style="width: 250px; height: 100px; border-radius: 10px;" >
                </mat-card-title-group>
              </mat-card>
              <mat-card class="example-card" style="margin-bottom: 10px; height: 130px;">
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</mat-card-subtitle>
                  <img mat-card-md-image src="https://wallpaperaccess.com/full/1912909.jpg" style="width: 250px; height: 100px; border-radius: 10px;" >
                </mat-card-title-group>
              </mat-card>
        </div>
        <div class="col-lg-12">
            <mat-card class="example-card" style="margin-top: 8px; height: 190px;">
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle class="subtitle" style="margin-right:20px">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</mat-card-subtitle>
                  <img mat-card-md-image src="https://wallpaperaccess.com/full/1912909.jpg" style="width: 400px; height: 150px; border-radius: 10px; margin-top: 5px;" >
                </mat-card-title-group>
              </mat-card>
        </div>
    </div>
   
</div>