<mat-toolbar class="mat-elevation-z8">
  <button class="mx-3 sidenav-button" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Kultur Delisi Admin Paneli
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

    <h4 class="name">Can Nasıf</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>

    <button mat-button 
    class="menu-button my-3" 
    routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }"
    routerLink="/admin/user-articles">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button my-3"  routerLinkActive="active" 
    routerLink="/admin/user-detail">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button class="menu-button  my-3" routerLinkActive="active"  
    routerLink="/admin/categori-list">
      <mat-icon>build</mat-icon>
      <span>Site Yönetimi</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button  my-3" routerLinkActive="active"  routerLink="/admin/article-confirmation-list">
      <mat-icon>info</mat-icon>
      <span>Article Confirmation</span>
    </button>

    <button mat-button class="menu-button  my-3" routerLinkActive="active"  routerLink="/admin/user-list">
      <mat-icon>info</mat-icon>
      <span>User List</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <!-- 
        main content  -->
      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>