<footer class="fixed-bottom">
    <div class="container">
      <div class="row" style="margin-bottom: 40px;">
        <div class="col-lg-8" style="align-items: center; text-align: left;">
          <h1 style="color: white; margin-bottom: 20px;">Kültür Delisi</h1>
          <span style="color: white;">Donec tincidunt leo nec magna gravida varius. Suspendisse felis orci, egestas ac sodales quis, venenatis et neque. Vivamus facilisis dignissim arcu et blandit. Maecenas finibus dui non pulvinar lacinia. Ut lacinia finibus lorem vel porttitor. Suspendisse et metus nec libero ultrices varius eget in risus. Cras id nibh at erat pulvinar malesuada et non ipsum. Suspendisse id ipsum leo.</span>
        </div>
        <div class="col-lg-4" style="padding-top: 70px;">
          <ul class="social-icons">
            <li style="width: 50px; height: 50px; border-radius: 50%; padding-top: 10px;"><a href="#" ><i class="fa fa-facebook" style="font-size: 30px;"></i></a></li>
            <li style="background-color: dodgerblue; width: 50px; height: 50px; border-radius: 50%; padding-top: 10px;"><a href="#" ><i class="fa fa-twitter" style="font-size: 30px;"></i></a></li>
            <li style="background-color: dodgerblue; width: 50px; height: 50px; border-radius: 50%; padding-top: 7px;"><a href="#" ><i class="fa fa-linkedin" style="font-size: 30px;"></i></a></li>
            <li style="background-color: dodgerblue; width: 50px; height: 50px; border-radius: 50%; padding-top: 10px;"><a href="#" ><i class="fa fa-instagram" style="font-size: 30px;"></i></a></li>
          </ul>
        </div>
      </div>
        <div class="row" >
        <div class="col-lg-5">
          <strong style="color: white;">Copyright &copy; 2021 <a routerLink="/home">kulturdelisi.com</a>.</strong><span style="color: white;"> Tüm Hakları Saklıdır.</span> 
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-5">
          <ul class="footer-links">
            <li><a href="#">Hakkında</a></li>
            <li><a href="#">Yayın İlkeleri</a></li>
            <li><a href="#">Gizlilik</a></li>
            <li><a href="#">İletişim</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>