<header class="fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo">
                    <img [src]="logo" class="logo" routerLink="/home/article" />
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9">
                <p-menubar [model]="menus">
                    <ng-template pTemplate="{{menuPosition}}">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText placeholder="Search">
                        </span>
                    </ng-template>
                </p-menubar>
            </div>
        </div>
    </div>
</header>

<!-- <header class="fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo">
                    <img [src]="logo" class="logo" routerLink="/home/article" />
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="menu-icon" [class.menu-icon-Class]="menu_icon_variable" (click)="openMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div> 
                <div class="menu" [class.menuClass]="menuVariable">
                    <ul>
                        <li *ngFor="let categoryitem of categoryList$|async|slice:0:7" id="categoryLink{{categoryitem.id}}"><a mat-button routerLinkActive="active" class="nav-item"
                                routerLink="/home/category">{{categoryitem.categoryName}}</a></li>
                        <li *ngFor="let categoryitem of categoryList$|async|slice:0:7" id="childCategoryDropdown{{categoryitem.id}}">
                            <button mat-button [matMenuTriggerFor]="childCategoryMenu" (click)="listChildCategories(categoryitem.id)" class="nav-item">{{categoryitem.categoryName}}</button>
                        </li>
                         <mat-menu #childCategoryMenu="matMenu" style="background-color: black;" >
                            <div style="margin-top: 30px; width: 200px;">
                                <a mat-menu-item routerLinkActive="active" *ngFor="let childitem of childCategoryList$!|async" class="nav-item" routerLink="/home/category" id="childCategoryId{{childitem.id}}">{{childitem.categoryName}}</a>
                            </div>
                        </mat-menu>

                        <li id="otherCategories">
                            <button mat-button [matMenuTriggerFor]="menu" class="nav-item">Diğer Kategoriler</button>
                        </li>
                         <mat-menu #menu="matMenu" style="background-color: black;" >
                            <div style="margin-top: 30px; width: 200px;">
                                <a mat-menu-item routerLinkActive="active" class="nav-item" routerLink="/home/category" *ngFor="let categoryitem of categoryList$|async|slice:7" >{{categoryitem.categoryName}}</a>
                            </div>
                         </mat-menu>
                    </ul> 
                </div>
            </div>
        </div>
    </div>
</header> -->



<!-- <mat-toolbar class="nav-bg-color fixed-top">
    <img [src]="logo" class="logo" routerLink="/home/article" />
    <mat-toolbar class="center nav-bg-color">
            <a mat-button class="nav-item active-item" routerLink="/home/article">Anasayfa</a>
            <a mat-button class="nav-item" routerLink="/home/category">Kategori 1</a>
            <a mat-button class="nav-item">Kategori 2</a>
            <a mat-button class="nav-item">Kategori 3</a>
            <a mat-button class="nav-item">Kategori 4</a>
            <button mat-button [matMenuTriggerFor]="menu" class="nav-item">Diğer Kategoriler</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item class="nav-item">Kategori 5</button>
                <button mat-menu-item class="nav-item">Kategori 6</button>
            </mat-menu>
    </mat-toolbar>
</mat-toolbar> -->