<mat-toolbar class="nav-bg-color fixed-top">
    <!-- <span >kültürdelisi</span> -->
    <img [src]="logo" class="logo" routerLink="/home" />

    <mat-toolbar class="center nav-bg-color">
        <a mat-button class="nav-item active-item" routerLink="/home">Anasayfa</a>
        <a mat-button class="nav-item" routerLink="category">Kategori 1</a>
        <a mat-button class="nav-item">Kategori 2</a>
        <a mat-button class="nav-item">Kategori 3</a>
        <a mat-button class="nav-item">Kategori 4</a>
        <button mat-button [matMenuTriggerFor]="menu" class="nav-item">Diğer Kategoriler</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item class="nav-item">Kategori 5</button>
            <button mat-menu-item class="nav-item">Kategori 6</button>
        </mat-menu>
    </mat-toolbar>


</mat-toolbar>