<div class="container">
  <h1 class="header">Site Yönetimi</h1>
  <div class="col-lg-12">
    <div class="row">

      <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->

      <!-- Categories -->
      <div class="col-lg-4 categories">
        <!-- Categories Panel -->
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            class="categories-panel-border">
            <!-- Categories Panel Header -->
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="col-lg-12">
                  <h3 class="categories-header">Kategoriler</h3>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Categories Panel Header End -->
            <!-- Categories Panel Add -->
            <div class="row row-line">
              <div class="col-lg-9 ">
                <mat-form-field class="formfield" appearance="fill">
                  <mat-label class="form-label">Kategori Adı</mat-label>
                  <input matInput placeholder="Örn. Eğitim" class="form-input" name="someInput"
                    [(ngModel)]="someInput" />
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                <button class="d-fle btn btn-success categoryadd-button" (click)="addCategoryClickEvent()">
                  <span><i class="fa-solid fa-plus"></i> Ekle</span>
                </button>
              </div>
            </div>
            <!-- Categories Panel Add End -->
            <!-- Categories Panel Table -->
            <table class="category-table">
              <tr *ngFor="let item of categoryList$|async">
                <td class="category-name" *ngIf="!item.IsEditableForCategory">{{item.categoryName}}</td>
                <td *ngIf="item.IsEditableForCategory" class="categoryedit-area"><input matInput [(ngModel)]="categoryNewName" value="{{item.categoryName}}"
                    class="categoryedit-input" />
                </td>
                <td><a class="categoryupdate-link" *ngIf="!item.IsEditableForCategory" (click)="editCategory(item)"><i
                      class="fa-solid fa-pen-to-square aboutlink-icon"></i>{{categoryEditButton}}</a>
                      <a class="categorydelete-link" *ngIf="!item.IsEditableForCategory" (click)="deleteCategoryClickEvent(item)"><i
                        class="fa-solid fa-trash aboutlink-icon"></i>{{categoryDeleteButton}}</a>
                  <a class="categorysave-link" *ngIf="item.IsEditableForCategory" (click)="saveUpdateCategoryClickEvent(item)"><i
                      class="fa-solid fa-check aboutlink-icon"></i></a>
                  <a class="categorycancel-link" *ngIf="item.IsEditableForCategory" (click)="cancelCategoryUpdate(item)"><i
                      class="fa-solid fa-xmark aboutlink-icon"></i></a>
                </td>
                
              </tr>
            </table>
            <!-- Categories Panel TableEnd -->
          </mat-expansion-panel>
        </mat-accordion>
        <!-- Categories Panel End-->
      </div>
      <!-- Categories End-->

      <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->

      <!--About -->
      <div class="col-lg-8 about">
        <!-- About Panel-->
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            class="about-panel-border">
            <!-- About Panel Header -->
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="col-lg-12">
                  <h3 class="about-header">Hakkında</h3>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- About Panel Header End-->
            <div class="row">
              <!-- About Panel Content -->
              <div class="col-lg-12">
                <p class="about-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eligendi
                  voluptas atque, alias non optio quos pariatur eaque laudantium obcaecati sed inventore totam deleniti
                  similique nobis facere ut unde reprehenderit.
                  Obcaecati officia, impedit tempora iure laudantium consequatur reiciendis cumque soluta quisquam modi!
                  Maiores ut blanditiis tempore illo. Unde reiciendis non perferendis recusandae neque ab? Commodi
                  accusamus magnam asperiores fuga eos.
                  Nesciunt quae nisi, architecto vero quo illo aliquid repellat unde quibusdam quidem amet expedita
                  velit nemo? Laborum consectetur perspiciatis odit impedit at, possimus commodi accusamus, cumque, enim
                  nobis ullam veritatis.
                  Adipisci aperiam quia asperiores cumque ducimus velit consectetur numquam fugiat, repellendus
                  consequatur at ea dolore. Optio nesciunt unde delectus repellendus, possimus ipsa magnam blanditiis,
                  fugit veritatis doloremque, recusandae quaerat ipsum!
                  Ratione quo dolore assumenda sit enim nemo obcaecati quia recusandae fugit aliquid et iusto
                  voluptates, atque a nam odit provident pariatur vel similique necessitatibus ad. Tempore quod
                  repudiandae mollitia neque.</p>
              </div>
              <!-- About Panel Content End-->
              <!-- About Panel Edit Button -->
              <div class="col-lg-12">
                <a href="" class="aboutupdate-link"><i class="fa-solid fa-pen-to-square aboutlink-icon"></i>Düzenle</a>
              </div>
              <!-- About Panel Edit Button End-->
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- About Panel End -->
      </div>
      <!--About End-->

      <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->

      <!-- Social-->
      <div class="col-lg-4 social">
        <!-- Social Panel-->
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            class="social-panel-border">
            <!-- Social Panel Header -->
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="col-lg-12">
                  <h3 class="social-header">Sosyal Medya</h3>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Social Panel Header End-->
            <div class="row">
              <!-- Social Panel Table -->
              <div class="col-lg-12">
                <table *ngFor="let item of contactList$|async">
                  <tr>
                    <th class="social-icon"><i class="fa-brands fa-facebook-square"></i></th>
                    <td class="social-link" *ngIf="!item.IsEditableForContact"><a href="{{item.facebookLink}}" target="_blank"
                        class="sociallink-center">Facebook</a></td>
                    <td *ngIf="item.IsEditableForContact" class="useredit-area"><input matInput value="{{item.facebookLink}}"
                        class="useredit-input" [(ngModel)]="facebook"/>
                    </td>
                  </tr>
                  <tr>
                    <th class="social-icon"><i class="fa-brands fa-twitter-square"></i></th>
                    <td class="social-link" *ngIf="!item.IsEditableForContact"><a href="{{item.twitterLlink}}" target="_blank"
                        class="sociallink-center">Twitter</a></td>
                        <td *ngIf="item.IsEditableForContact" class="useredit-area"><input matInput value="{{item.twitterLlink}}"
                          class="useredit-input" [(ngModel)]="twitter"/>
                      </td>
                  </tr>
                  <tr>
                    <th class="social-icon"><i class="fa-brands fa-linkedin"></i></th>
                    <td class="social-link" *ngIf="!item.IsEditableForContact"><a href="{{item.linedinLink}}" target="_blank"
                        class="sociallink-center">Linkedin</a></td>
                        <td *ngIf="item.IsEditableForContact" class="useredit-area"><input matInput value="{{item.linedinLink}}"
                          class="useredit-input" [(ngModel)]="linkedin"/>
                      </td>
                  </tr>
                  <tr>
                    <th class="social-icon"><i class="fa-brands fa-instagram-square"></i></th>
                    <td class="social-link" *ngIf="!item.IsEditableForContact"><a href="{{item.instagramLink}}" target="_blank"
                        class="sociallink-center">Instagram</a></td>
                        <td *ngIf="item.IsEditableForContact" class="useredit-area"><input matInput value="{{item.instagramLink}}"
                          class="useredit-input" [(ngModel)]="instagram"/>
                      </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><a class="categoryupdate-link" *ngIf="!item.IsEditableForContact" (click)="editSocialLink(item)"><i
                           class="fa-solid fa-pen-to-square aboutlink-icon"></i>{{contactEditButton}}</a>
                        <a class="categorysave-link" *ngIf="item.IsEditableForContact" (click)="saveUpdatesSocialLinkClickEvent(item)"><i
                           class="fa-solid fa-check aboutlink-icon"></i></a>
                        <a class="categorycancel-link" *ngIf="item.IsEditableForContact" (click)="cancelContactUpdate(item)"><i
                           class="fa-solid fa-xmark aboutlink-icon"></i></a>
                    </td>
                  </tr>
                </table>
              </div>
              <!-- Social Panel Table End -->
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- Social Panel End -->
      </div>
      <!-- Social End-->

      <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->

      <!-- Contact-->
      <div class="col-lg-8 contact">
        <!-- Social Panel -->
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            class="contact-panel-border">
            <!-- Social Panel Header-->
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="col-lg-12">
                  <h3 class="contact-header">İletişim Bilgileri</h3>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Social Panel Header End-->
            <div class="row">
              <!-- Social Panel Table-->
              <div class="col-lg-12">
                <table *ngFor="let item of contactList$|async">
                  <tr>
                    <th class="contact-icon"><i class="fa-solid fa-square-phone"></i></th>
                    <td class="contact-type">Telefon Numarası</td>
                    <td class="contact-link" *ngIf="!item.IsEditableForContact"><span class="contactlink-center">{{item.phone}}</span></td>
                    <td *ngIf="item.IsEditableForContact" class="useredit-area"><input matInput value="{{item.phone}}"
                      class="useredit-input" [(ngModel)]="contactPhone"/>
                    </td>
                  </tr>
                  <tr>
                    <th class="contact-icon"><i class="fa-solid fa-at"></i></th>
                    <td class="contact-type">E-Posta Adresi</td>
                    <td class="contact-link" *ngIf="!item.IsEditableForContact"><span class="contactlink-center">{{item.email}}</span></td>
                    <td *ngIf="item.IsEditableForContact" class="useredit-area"><input matInput value="{{item.email}}"
                      class="useredit-input" [(ngModel)]="contactEmail"/>
                    </td>
                  </tr>
                  <tr>
                    <th class="contact-icon"><i class="fa-solid fa-location-dot"></i></th>
                    <td class="contact-type">Adres</td>
                    <td class="contact-link" *ngIf="!item.IsEditableForContact"><span class="contactlink-center">{{item.adress}}</span></td>
                    <td *ngIf="item.IsEditableForContact" class="useredit-area"><input matInput value="{{item.adress}}"
                      class="useredit-input" [(ngModel)]="contactAdress"/>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td><a class="categoryupdate-link" *ngIf="!item.IsEditableForContact" (click)="editContact(item)"><i
                           class="fa-solid fa-pen-to-square aboutlink-icon"></i>{{contactEditButton}}</a>
                        <a class="categorysave-link" *ngIf="item.IsEditableForContact" (click)="saveUpdateContactClickEvent(item)"><i
                           class="fa-solid fa-check aboutlink-icon"></i></a>
                        <a class="categorycancel-link" *ngIf="item.IsEditableForContact" (click)="cancelContactUpdate(item)"><i
                           class="fa-solid fa-xmark aboutlink-icon"></i></a>
                    </td>
                  </tr>
                </table>
              </div>
              <!-- Social Panel Table End-->
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- Social Panel End -->
      </div>
      <!-- contact End-->

      <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->

      <div class="col-lg-12 users">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            class="users-panel-border">
            <!-- Users Panel Header-->
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="col-lg-12">
                  <h3 class="users-header">Kullanıcı Yönetimi</h3>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Users Panel Header End-->
            <div class="row">
              <div class="col-lg-12">
                <!-- Users Panel Table-->
                <table>
                  <!-- Table Column Header -->
                  <tr>
                    <th class="user-table-header" style="width: 110px;">Adı</th>
                    <th class="user-table-header" style="width: 110px;">Soyadı</th>
                    <th class="user-table-header" style="width: 125px;">Doğum Tarihi</th>
                    <th class="user-table-header" style="width: 110px;">Kayıt Tarihi</th>
                    <th class="user-table-header" style="width: 100px;">Şehir</th>
                    <th class="user-table-header" style="width: 200px;">E-Pasta Adresi</th>
                    <th class="user-table-header" style="width: 180px;">Telefon</th>
                    <th class="user-table-header" style="width: 100px;">Makale Sayısı</th>
                    <th class="user-table-header" style="width: 100px;">Yetki</th>
                    <th class="user-table-header">Durum</th>
                    <td class="user-table-content"></td>
                    <td class="user-table-content"></td>
                  </tr>
                  <!-- Table Column Header End -->
                  <!-- Users and Useredit Table Columns -->
                  <tr *ngFor="let item of userList$|async">
                    <!-- Table Name Column-->
                    <td class="user-table-content" *ngIf="!item.IsEditableForUser">{{item.name}}</td>
                    <td *ngIf="item.IsEditableForUser" class="useredit-area"><input matInput value="{{item.name}}"
                        class="useredit-input" />
                    </td>
                    <!-- Table Name Column End-->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    <!-- Table Surname Column-->
                    <td class="user-table-content" *ngIf="!item.IsEditableForUser">{{item.surname}}</td>
                    <td *ngIf="item.IsEditableForUser" class="useredit-area"><input matInput value="{{item.surname}}"
                        class="useredit-input" />
                    </td>
                    <!-- Table Surname Column End-->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    <!-- Table Birthdate Column-->
                    <td class="user-table-content" *ngIf="!item.IsEditableForUser">{{item.birhtdate | date: 'dd/MM/yyyy'}}</td>
                    <td *ngIf="item.IsEditableForUser" class="useredit-area"><input matInput value="{{item.birhtdate  | date: 'yyyy-MM-dd'}}"
                        class="useredit-input" type="date"/>
                    </td>
                    <!-- Table Birthdate Column End-->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    <!-- Table Createdate Column-->
                    <td class="user-table-content" *ngIf="!item.IsEditableForUser">{{item.createdate | date: 'dd/MM/yyyy'}}</td>
                    <td *ngIf="item.IsEditableForUser" class="useredit-area"><input matInput value="{{item.createdate | date: 'yyyy-MM-dd'}}"
                        class="useredit-input" type="date" disabled />
                    </td>
                    <!-- Table Createdate Column End-->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    <!-- Table City Column-->
                    <td class="user-table-content" *ngIf="!item.IsEditableForUser">Thun</td>
                    <td *ngIf="item.IsEditableForUser" class="useredit-area"><input matInput value="Thun" class="useredit-input" />
                    </td>
                    <!-- Table City Column End-->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    <!-- Table Email Column-->
                    <td class="user-table-content" *ngIf="!item.IsEditableForUser">{{item.email}}</td>
                    <td *ngIf="item.IsEditableForUser" class="useredit-area"><input matInput value="{{item.email}}"
                        class="useredit-input" />
                    </td>
                    <!-- Table Email Column End-->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    <!-- Table Email Column-->
                    <td class="user-table-content" *ngIf="!item.IsEditableForUser">{{item.phone}}</td>
                    <td *ngIf="item.IsEditableForUser" class="useredit-area"><input matInput value="{{item.phone}}"
                        class="useredit-input" />
                    </td>
                    <!-- Table Email Column End-->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    <!-- Table Articles Column-->
                    <td class="user-table-content" *ngIf="!item.IsEditableForUser">45</td>
                    <td *ngIf="item.IsEditableForUser" class="useredit-area"><input matInput value="45" class="useredit-input" />
                    </td>
                    <!-- Table Articles Column End-->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    <!-- Table PermissionLevel Column-->
                    <td class="user-table-content" *ngIf="!item.IsEditableForUser">{{item.permissionLevelId}}</td>
                    <td *ngIf="item.IsEditableForUser" class="useredit-area">
                        <select class="useredit-input useredit-select " matNativeControl value="{{item.permissionLevelId}}" name="editUserLevel" [(ngModel)]="editUserLevel">
                          <option value="Admin" selected>Admin</option>
                          <option value="Moderator">Moderator</option>
                        </select>
                    </td>
                    <!-- Table PermissionLevel Column End-->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    <!-- Table Status Column-->
                    <td class="user-table-content" *ngIf="!item.IsEditableForUser">Aktif</td>
                    <td *ngIf="item.IsEditableForUser" class="useredit-area">
                      <label class="switch">
                        <input class="avtiveSelect" type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>                      
                    </td>
                    <!-- Table Status Column End-->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    <!-- Table User Edit And Save Update Link Column-->
                    <td class="user-table-content">
                      <a (click)="editUser(item)" *ngIf="!item.IsEditableForUser" class="useredit-link"><i
                          class="fa-solid fa-square-pen"></i></a>
                      <a class="usersave-link" *ngIf="item.IsEditableForUser" (click)="saveUserUpdate()"><i
                         class="fa-solid fa-check aboutlink-icon"></i></a>
                    </td>
                    <!-- Table User Edit And Save Update Link Column End-->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    <!-- Table Go User Profile and Cancel Link Column-->
                    <td class="user-table-content">
                      <a href="" class="userprofile-link" *ngIf="!item.IsEditableForUser"><i class="fa-solid fa-eye"></i></a>
                      <a class="usercancel-link" (click)="cancelUserEdit(item)" *ngIf="item.IsEditableForUser"><i class="fa-solid fa-xmark aboutlink-icon"></i></a>
                    </td>
                    <!-- Table Go User Profile and Cancel Link Column-->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->
                  </tr>
                  <!-- Users and Useredit Table Columns -->


                   <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->
                   <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                  <!-- Add User Table Columns -->
                  <tr>
                    <!-- Table Add Name Column -->
                    <td class="user-table-content" *ngIf="IsAddForUser"></td>
                    <td *ngIf="!IsAddForUser" class="useredit-area"><input matInput placeholder="Adı"
                        class="useredit-input" name="addUserName" [(ngModel)]="addUserName" />
                    </td>
                    <!-- Table Add Name Column End -->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    <!-- Table Add Surname Column -->
                    <td class="user-table-content" *ngIf="IsAddForUser"></td>
                    <td *ngIf="!IsAddForUser" class="useredit-area"><input matInput placeholder="Soyadı"
                        class="useredit-input" name="addUserSurname" [(ngModel)]="addUserSurname"/>
                    </td>
                    <!-- Table Add Surname Column End -->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    <!-- Table Add Birthdate Column -->
                    <td class="user-table-content" *ngIf="IsAddForUser"></td>
                    <td *ngIf="!IsAddForUser" class="useredit-area"><input matInput class="useredit-input" 
                      type="date" name="addUserBirthDate" [(ngModel)]="addUserBirthDate"/>
                    </td>
                    <!-- Table Add Birthdate Column End -->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    <!-- Table Add CreateDate Column -->
                    <td class="user-table-content" *ngIf="IsAddForUser"></td>
                    <td *ngIf="!IsAddForUser" class="useredit-area"><input matInput
                        class="useredit-input" type="date" disabled/>
                    </td>
                    <!-- Table Add CreateDare Column End -->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->


                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    <!-- Table Add Email Column -->
                    <td class="user-table-content" *ngIf="IsAddForUser"></td>
                    <td *ngIf="!IsAddForUser" class="useredit-area"><input matInput placeholder="E-posta Adresi"
                        class="useredit-input" name="addUserEmail" [(ngModel)]="addUserEmail"/>
                    </td>
                    <!-- Table Add Email Column End -->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    
                    <!-- Table Add Password Column -->
                    <td class="user-table-content" *ngIf="IsAddForUser"></td>
                    <td *ngIf="!IsAddForUser" class="useredit-area"><input matInput placeholder="Telefon"
                        class="useredit-input" name="addUserPhone" [(ngModel)]="addUserPhone"/>
                    </td>
                    <!-- Table Add Password Column End -->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->

                    <!-- Table Add Password Column -->
                    <td class="user-table-content" *ngIf="IsAddForUser"></td>
                    <td *ngIf="!IsAddForUser" class="useredit-area"><input matInput placeholder="Şifre" type="password"
                        class="useredit-input" name="addUserPassword" [(ngModel)]="addUserPassword"/>
                    </td>
                    <!-- Table Add Password Column End -->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->
                    
                    <!-- Table Add Permission Level Column -->
                    <td class="user-table-content" *ngIf="IsAddForUser"></td>
                    <td *ngIf="!IsAddForUser" class="useredit-area">
                          <select class="useredit-input useredit-select " matNativeControl placeholder="yetki" name="addUserLevelStr" [(ngModel)]="addUserLevelStr" required>
                            <option value="Admin">Admin</option>
                            <option value="Moderator">Moderator</option>
                          </select>
                    </td>
                    <!-- Table Add Permission Level Column End -->

                    <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->
                  
                    <td class="user-table-content">
                    </td>
                    <!-- Table Add and Save Links -->
                    <td class="user-table-content">
                      <a *ngIf="IsAddForUser" (click)="addUser()" class="useradd-link">
                        <i class="fa-solid fa-square-plus"></i></a>
                      <a class="usersave-link" *ngIf="!IsAddForUser" (click)="addUserSubmitEvent()">
                        <i class="fa-solid fa-check aboutlink-icon"></i></a>
                    </td>
                    <!-- Table Add and Save Links End -->
                    <td class="user-table-content" *ngIf="!IsAddForUser">
                      <a class="usercancel-link" *ngIf="!IsAddForUser" (click)="cancelUserAdd()">
                        <i class="fa-solid fa-xmark aboutlink-icon"></i></a>
                    </td>
                  </tr>
                  <!-- Add User Table Columns End-->
                </table>
                <!-- Users Panel Table End-->
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>




<!-- Eski Kodlar Yedek  -->


<!-- <div class="container">
  <div class="row">
    <div class="col-lg-8">a</div>
    <div class="col-lg-2">b</div>
    <div class="col-lg-2"><button mat-icon-button (click)="addCategory()" color="primary"
        aria-label="Example icon button with a home icon">
        <mat-icon>add</mat-icon>
      </button></div>

  </div>

  <div class="row">

    <table mat-table [dataSource]="elements" class="mat-elevation-z8">


      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="headElements"></tr>
      <tr mat-row *matRowDef="let row; columns: headElements;"></tr>
    </table>

  </div>
</div> -->