<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12">
                <app-carousel></app-carousel>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <router-outlet></router-outlet>
                </div>

                <div class="col-lg-4">
                    <app-recent-posts></app-recent-posts>
                    <app-popular-article></app-popular-article>
                    <app-right-categories></app-right-categories>
                </div>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>