.background{
    background-image: url("~/src/assets/img/adminloginbg4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.container{
    display:flex; 
    justify-content: center;
    height: 100%;
}

.card-container{
    margin-top: 50%;
    background-color: rgba(250, 250, 250, 0.8);
}
.card-header{
    background-color: transparent;
    border-radius: 5px;
    border-bottom: 3px; 
    border-color: dodgerblue; 
    border-style: solid; 
    border-left:0; 
    border-right:0; 
    border-top: 0;
}
.card-content{
    display:flex; 
    justify-content: center;
}
.card-formfield{
    width: 400px; 
    margin-top: 20px;
}
.card-h2{
    margin-top: 10px;
    color: dodgerblue;
}
.form-icon{
    float: right;
}
.login-button{
    background-color: rgba(250, 250, 250, 0.6);
    color:dodgerblue;
    border-color: dodgerblue;
    width: 200px;
    font-size: 18px;
}
/* .login-button:hover{
    color:green;
    border-color: green;
} */