@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.popular-post{
    border-radius: 10px; 
    margin-bottom: 10px;
	font-family: 'Roboto' sans-serif;
	font-weight:200;
}

.popularpost-title{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.popularpost-cardtitle{
    margin-top: 20px; 
    font-size: 18px; 
    font-weight: bold;
}

.post-info{
    margin-left: -30px;
}

.author-link {
	color: black !important;
	margin-left: 5px;
	font-weight: bold !important;

}

.author-link:hover {
	color: dodgerblue !important;
	font-weight: bold !important;
}


.release-date {
	font-weight: 500;
}


ul.post-info li {
	display: inline-block;
	margin-right: 8px;
}

ul.post-info li:after {
	content: '|';
	color: #aaa;
	margin-left: 8px;
}


ul.post-info li {
	margin-right: 3px;
}

ul.post-info li:after {
	margin-left: 5px;
}

ul.post-info li:last-child::after {
	display: none;
}

ul.post-info li a {
	font-size: 14px;
	color: #aaa;
	font-weight: 400;
	transition: all .3s;
}

ul.post-info li a:hover {
	color: #4070f4;
}

.example-card div:hover {
	
	color : royalblue;
	transition : all .5s;
} 
