<mat-card class="example-card recent-post">
    <h3 class="recentpost-title">son paylaşılanlar</h3>
    <hr>
    <div>
        <mat-card-title class="recentpost-cardtitle">Vestibulum id turpis porttitor
            sapien facilisis scelerisque</mat-card-title>
        <div class="col-lg-12">
            <ul class="post-info">
                <li><a class="author-link" routerLink="/authorprofile">Admin</a></li>
                <li class="release-date">31 May 2020</li>
            </ul>
        </div>
        <hr>
    </div>
    <div>
        <mat-card-title class="recentpost-cardtitle">Vestibulum id turpis porttitor
            sapien facilisis scelerisque</mat-card-title>
        <div class="col-lg-12">
            <ul class="post-info">
                <li><a class="author-link" routerLink="/authorprofile">Admin</a></li>
                <li class="release-date">31 May 2020</li>
            </ul>
        </div>
        <hr>
    </div>
    <div>
        <mat-card-title class="recentpost-cardtitle">Vestibulum id turpis porttitor
            sapien facilisis scelerisque</mat-card-title>
        <div class="col-lg-12">
            <ul class="post-info">
                <li><a class="author-link" routerLink="/authorprofile">Admin</a></li>
                <li class="release-date">31 May 2020</li>
            </ul>
        </div>
        <hr>
    </div>
    <div>
        <mat-card-title class="recentpost-cardtitle">Vestibulum id turpis porttitor
            sapien facilisis scelerisque</mat-card-title>
        <div class="col-lg-12">
            <ul class="post-info">
                <li><a class="author-link" routerLink="/authorprofile">Admin</a></li>
                <li class="release-date">31 May 2020</li>
            </ul>
        </div>
        <hr>
    </div>
    <div>
        <mat-card-title class="recentpost-cardtitle">Vestibulum id turpis porttitor
            sapien facilisis scelerisque</mat-card-title>
        <div class="col-lg-12">
            <ul class="post-info">
                <li><a class="author-link" routerLink="/authorprofile">Admin</a></li>
                <li class="release-date">31 May 2020</li>
            </ul>
        </div>
        <hr>
    </div>
</mat-card>