

  
  .example-full-width {
    width: 100%;
  }


.file-input{
    font-size: 16px;
    background: #F5F5F5;
    box-shadow: 0px 1px 0px black;
    width: 100%;
    outline:none;
    height: 50px;
    margin-bottom: 15px;
  }

  ::-webkit-file-upload-button{
    color:black;
    background: #F5F5F5;
    border:none;
    box-shadow: 1px 0 1px 1px #6b4559;
    outline: none;
    height: 50px;
    margin-bottom: 15px;
  } 

  .file{
    width: 100%;
  }

  .addarticle-header{
    background-color: #9F2B68; 
    color: white; 
    border-radius: 8px; 
    margin-bottom: 15px; 
    height: 30px; 
    box-shadow: 0.5px 1px 1px black;
  }
  
  .savebutton-position{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .save-button{
    height: 50px;
    width: 200px;
    font-size: 18px;
  }

  .close-button{
    color:red; 
    font-size: 24px; 
    width: 30px;
    height: 30px; 
    float: right; 
    margin-top: -10px; 
    margin-bottom: 15px; 
    border-radius: 50%; 
    border-color: red; 
    background-color: transparent;
  }